/* DECK */
.deck-card-container {
  padding: 1rem 0;
  display: grid;
  grid-template: 1fr;
  grid-gap: 0.5rem;
}

.deck-card {
  padding: 0.5rem 1rem;
}

.deck-card-header {}
.deck-card-text {}
.deck-card-btn {}
