.explore-page {
    min-height: 100vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f8f9fa;
}

.loader {
    margin-top: 2rem;
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #667eea;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}

@keyframes l3 {to{transform: rotate(1turn)}}

.decks-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
}

.deck {
    border: 1px;
    padding: 1rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
}

.deck-owner {
    font-style: italic;
}

.deck-description {
  padding: 0.5rem 0;
  flex-grow: 1;
}

.deck-btns {
  align-self: flex-end;
  margin-top: 1rem;
}

.deck-btns button {
  width: 100%;
  padding: 0.875rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.deck-btns button:hover {
    background-color: #0056b3;
}
