{% extends 'base.html' %}

{% block title %}{{ user.username }} Decks{% endblock title %}

{% block header %}
  <header class="header">
    {% include 'partials/search_bar.html' %}
  </header>
{% endblock header %}

{% block content %}
  <section>
    <a class="btn" href="{% url 'new_deck' %}">Create New Deck</a>
    {% if decks %}
      {% include 'partials/deck_list.html' %}
      {% include 'partials/pagination.html' %}
    {% else %}
      <p class="center">No decks found.</p>
    {% endif %}
  </section>
{% endblock content %}
