{% extends 'base.html' %}

{% block styles %}
  <style>
    .header__title {
      font-size: 2.5rem;
    }
    
    .header__text {
      padding: 1rem 0;
      font-style: italic;
    }

    .see-more {
      display: block;
      margin: 1rem auto;
    }
  </style>
{% endblock styles %}

{% block header %}
  <header class="header center">
    <h2 class="header__title">Welcome to Flash Cards!</h2>
    <p class="header__text">
      Flash cards is web site for creating and sharing user created flash cards.
      You can get started by register through the menu above or look below to take
      a peek of what has already been created.
    </p>
  </header>
{% endblock header %}

{% block content %}
  {% include 'partials/deck_list.html' %}
  <a class="see-more btn" href="{% url 'explore' %}">See More</a>
{% endblock %}
