{% load widget_tweaks %}

{% if form.non_field_errors %}
  <div class="form__alert">
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="form__group">
    {{ field.label_tag }}
    
    {% if form.is_bound %}
      {% if field.errors %}
        {% render_field field class="is_invalid" %}
        {% for error in field.errors %}
          <small class="form__invalid">
            {{ error }}
          </small>
        {% endfor %}
      {% else %}
        {% render_field field class="is_valid" %}
      {% endif %}
    {% else %}
      {{ field  }}
    {% endif %}

    {% if field.help_text %}
      <small class="form__help">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}