{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'decks/decks_index.css' %}" />
{% endblock stylesheet %}

{% block title %}
  Decks
{% endblock title %}

{% block content %}
  <section class="deck-card-container">
    {% for deck in decks  %}
      <article class="deck-card">
        <h2 class="deck-card-header">{{ deck.name }}</h2>
        <p class="deck-card-text">{{ deck.description }}</p>
        <a class="deck-card-btn" href="{% url 'decks_detail' deck.pk %}">View</a>
      </article>
    {% endfor %}
  </section>
{% endblock content %}
