{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'decks/decks_detail.css' %}" />
{% endblock stylesheet %}

{% block title %}
  {{ deck.name }}
{% endblock title %}

{% block content %}
  <header class="slideshow-header">
    <h2>{{ deck.name }}</h2>
    <p>{{ deck.description }}</p>
  </header>
  <section>
    {% if num_cards == 0 %}
      <p class="card-none">No cards found in this deck</p>
    {% else %}
      <div class="slideshow">
        {% for card in cards %}
          <div class="card">
            <div class="card-frame">
              <div class="card-face card-front">
                <span>front</span>
                <span>{{ card.front_text }}</span>
                <span>click to flip</span>
              </div>
              <div class="card-face card-back">
                <span>back</span>
                <span>{{ card.back_text }}</span>
                <span>click to flip</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if num_cards > 0 %}
      <div class="slideshow-nav">
        <button class="slideshow-nav-prev" onclick="changeSlide(-1)">&#10094;</button>
          <span class="slideshow-nav-index"><span id="slideIndex"></span> / {{ num_cards }}</span>
        <button class="slideshow-nav-next" onclick="changeSlide(1)">&#10095;</button>
      </div>
    {% endif %}
  </section>
{% endblock content %}

{% block scripts %}
  {% if num_cards > 0 %}
    <script src="{% static 'decks/decks_detail.js' %}" ></script>
  {% endif %}
{% endblock scripts %}

