{% set active_page = 'deck_manage' %}
{% extends 'base.html' %}

{% block title %}
    {{ deck.name }}
{% endblock %}

{% block content %}
    <div class="content-header">
        <div>
            <p>Deck Name: {{ deck.name }}</p>
            <p>Description: {{ deck.description }}</p>
            <p>Creation Date: {{ deck.created }}</p>
            <p>Last Edited On: {{ deck.last_edited }}</p>
            <p>Number of Cards: {{ num_cards }}</p>
        </div>
        <div>
            <a href="{{ url_for('main.card_new', deck_id=deck.id) }}">Add Card</a>
            <a href="{{ url_for('main.deck_view', deck_id=deck.id) }}">View Deck</a>
            <a href="{{ url_for('main.deck_edit', deck_id=deck.id ) }}">Edit Deck</a>
            <a href="{{ url_for('main.deck_delete', deck_id=deck.id ) }}">Delete Deck</a>
        </div>
    </div>

    <div class="card-list">
        {% for card in cards %}
            <div class="card-tile">
                <div>{{ card.front }} | {{ card.back }}</div>
                <span class="card-tile-btns">
                    <a href="{{ url_for('main.card_edit', deck_id=deck.id, card_id=card.id ) }}">Edit</a>
                    <a href="{{ url_for('main.card_delete', deck_id=deck.id, card_id=card.id ) }}">Delete</a>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
