{% set active_page = 'deck_edit' %}
{% extends 'base.html' %}

{% block title %}
    Editing Deck
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1 class="form-header">Edit Deck</h1>
        <form class="form" action="" method="post">
            {{ form.hidden_tag() }}
            <p class="form-group">
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="form-group">
                {{ form.description.label }}<br>
                {{ form.description(cols=64, rows=4) }}<br>
                {% for error in form.description.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class_="btn") }}</p>
        </form>
    </div>
{% endblock %}
