{% set active_page = user.username %}
{% extends 'base.html' %}

{% block title %}
    {{ current_user.username  }}'s Profile
{% endblock %}

{% block content %}
    <table class="profile">
        <tr valign="top">
            <td class="profile-image">
                <img src="{{ user.avatar(128) }}">
            </td>
            <td>
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p>Last seen on: {{ user.last_seen }}</p>
                {% endif %}
                {% if user == current_user %}
                    <p><a href="{{ url_for('main.edit_user') }}">Edit your profile</a></p>
                {% elif not current_user.is_following(user) %}
                    <p><a href="{{ url_for('main.follow', username=user.username) }}">Follow</a></p>
                {% else %}
                    <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <section class="content-header">
        {% if prev_url %}
            <a href="{{ prev_url }}">Prev Page</a>
        {% else %}
            <span>Prev Page</span>
        {% endif %}
        <h1>Decks</h1>
        {% if next_url %}
            <a href="{{ next_url }}">Next Page</a>
        {% else %}
            <span>Next Page</span>
        {% endif %}
    </section>
    {% if decks %}
        <div class='deck-container'>
        {% for deck in decks %}
            {% include 'main/_deck.html' %}
        {% endfor %}
        </div>
    {% else %}
        <div class="deck-error">No decks found.</div>
    {% endif %}

{% endblock %}
