/* black - #4d4646 grey - #5b5656 green - #7fcd91 off white - #f5eaea */

* { box-sizing: border-box; }

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    background: #f5eaea;
}

/* HEADER ======================================================== */
.header {
    width: 100%;
    background: #4d4646;
}

.header-inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}

.header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.header-nav li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 1rem;
}

.header-nav li a.active {
    background: #5b5656;
    font-weight: bold;
}

.header-nav li a:hover {    
    background: #5b5656;
}

/* MESSAGE ======================================================= */
.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7fcd91;
}

.message-info {
    padding: 0.7rem;
}

/* CONTENT ======================================================= */
.content {
    width: 80%;
    margin: 0 auto;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #4d4646;
    margin-bottom: 20px;
}

/* BUTTONS ======================================================= */
.btn {
    background: #5b5656;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

/* FORMS ========================================================= */
.form-container {
    margin-top: 10vh;
    padding: 2rem;
    text-align: center;
    background: #ffffff;
    border: 3px solid #4d4646;
    border-radius: 10px;
}

.form-header {
    font-size: 2rem;
    margin: 0;
}

.form-group input, 
.form-group textarea {
    padding: 0.5rem;
    background: transparent;
    border: 1px solid #4d4646;
}

.form-container input[type=submit] {
    margin-top: 1rem;
}

.form-footer {
    padding: 2rem 0;
}

/* LANDING ======================================================= */
.landing-container {
    padding: 2rem;
    text-align: center; 
    margin-top: 20vh;
    position: relative; 
    z-index: 1;
    background: #ffffff;
    border: 3px solid #4d4646;
    border-radius: 10px;
}

.landing-header {
    font-size: 2rem;
    margin: 0;
}

.landing-tagline {
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
}

/* PROFILE ======================================================= */
.profile {
    margin: 1rem 0;
    padding: 2rem;
    width: 100%;
    background: #ffffff;
    border: 3px solid #4d4646;
    border-radius: 10px;
}

.profile-image {
    text-align: center; 
    vertical-align: middle;
}

/* DECK ========================================================== */
.deck-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.deck {
    border: 1px solid #4d4646;
    border-radius: 5px;
}

.deck-error {
    width: 100%;
    text-align: center;
}

.deck-header {
    width: 100%;
    padding: 0.5em;
    text-align: center;
}
.deck-body {
    padding: 0.5em;
    text-align: center;
}

.deck-footer {
    padding: 1em 0.5em;
    text-align: center;
}

/* CARD ========================================================== */
.card-slideshow-header {    
    border-bottom: 3px solid #4d4646;
    margin-bottom: 20px;
    padding: 1rem 0;
}

.card-slideshow-header h1, p {
    margin: 0;
}

.card-slideshow-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-slideshow-header-desc {
    padding: 1rem 0;
}

.card-slideshow {
    width: 100%;
    height: 400px;
    position: relative;
    margin: auto;
    background: #ffffff;
    border: 3px solid #4d4646;
}

.card-slideshow-prev,
.card-slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;
    padding: 0 16px;
    color: #4d4646;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: flex;
    align-items: center;
}

.card-slideshow-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.card-slideshow-prev:hover,
.card-slideshow-next:hover {
    color: #ffffff;
    background-color: #5b5656;
}

.card-slideshow-number {
    font-size: 1rem;
    position: absolute;
    top: 102%;
    width: 100%;
    text-align: center;
}

.card {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: none;
}

.card-error {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-frame {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.card-frame.flipped {
    transform: rotateY( 180deg );
}

.card-face {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}

.card-back {
    color: #7fcd91;
    background: #4d4646;
    transform: rotateY( 180deg );
}

.card-text {
    font-size: 3rem;
}

.card-tip {
    padding: 0.7rem;
    font-size: 1rem;
    opacity: 0.8;
}


/* CARD MANAGE =================================================== */
.card-manage-header {
    padding: 1rem 0;
    border-bottom: 3px solid #4d4646;
    margin-bottom: 20px;
}

.card-manage-header-buttons {
    display: flex;
    margin-top: 1rem;
}

.card-manage-header-buttons a:first-child {
    margin-right: 1rem;
}

.card-manage-header-buttons a:not(:first-child) {
    margin: 0 1rem;
}

.card-manage-list {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    border: 3px solid #4d4646; 
}

.card-manage-item {
    padding: 1rem;
    background: white;
    display: flex;
    justify-content: space-between;
}

.card-manage-item-buttons {
    display: flex;
}
