{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Password Reset
  {% endif %}
{% endblock title %}

{% block header %}
  <header class="header center">
    <h2>Reset your password</h2>
  </header>
{% endblock header %}

{% block content  %}
  {% if validlink %}
    <form class="form" method="post" novalidate>
      {% csrf_token %}
      {% include 'partials/form.html' %}
      <button type="submit" class="btn">Reset</button>
    </form>
  {% else %}
    <div class="center">
      <p class="pd-1">It looks like you clicked on an invalid link. Please try again.</p>
      <a href="{% url 'password_reset' %}" class="btn">Try again</a>
    </div>
  {% endif %}
{% endblock content %}
