{% extends 'base.html' %}

{% block title %}Password Reset{% endblock title %}

{% block styles %}
  <style type="text/css">
    p {
      margin: 1rem;
    }
  </style>
{% endblock styles %}

{% block header %}
  <header class="header center">
    <h2>Password Changed!</h2>
  </header>
{% endblock header %}

{% block content  %}
  <div class="center">
    <p>
        You have successfully changed your password! You may now proceed to log in.
    </p>
    <a class="btn" href="{% url 'login' %}">Return to login</a>
  </div>
{% endblock content %}
