{% extends 'base.html' %}

{% block title %}Register{% endblock title %}

{% block styles %}
  <style>
    .header {
      text-align: center;
    }
  </style>
{% endblock styles %}

{% block header %}
  <header class="header">
    <h2>Sign Up Now!</h2>
  </header>
{% endblock header %}

{% block content %}
  <section>
    <form class="form" method="post" novalidate>
      {% csrf_token %}
      {% include 'partials/form.html' %}
      <button class="btn">Create an account</button>
    </form>
  </section>
{% endblock content %}
